#idTextBox
{
	position: absolute;

}


#myCanvas{
	border: 2px solid black;
}

body
{
	background-color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	 user-select: none;
}

#navBlack
{
	background-color: grey;
}

.rainbow {
    color:transparent;
  background-clip: text;
  background-clip: text;
}

.allButtons
{
	border-top: 2px solid black;	
}

.hiddenDiv
{
	display: none;
}


#canvasReloder
{
	margin-top: 100px;
}




